.everis{
    font-family: Helvetica;
    color: #99AE21;
}
.bienvenidos{
    font-family: Helvetica;
    margin-top: 50px !important;
    font-weight: bold;
    font-style: normal;
}
.sistema{
    margin-top: 10px;
}